---
// Experiencia.astro
---

<section id="experiencia">
  <h2>Experiencia</h2>
  <article class="job">
    <h3>Desarrollador Web en Signlab</h3>
    <span class="date">Marzo 2025 - Jun 2025</span>
    <p>
      Responsable del desarrollo y mantenimiento de sitios web para clientes
      diversos, utilizando tecnologías como VUE, PHP, SQL.
    </p>
    <img src="/canalplad.webp" alt="Logo Canalplad" srcset="" />
  </article>
  <article class="job">
    <h3>Desarrollo Web Canalplad</h3>
    <span class="date">Junio 2023 - Diciembre 2023</span>
    <p>
      Responsable del diseño y desarrollo de la página de la empresa Canalplad
    </p>
    <img src="/canalplad.webp" alt="Logo Canalplad" srcset="" />
  </article>
</section>
