---
// Proyectos.astro
---
<article id="proyectos">
    <h2>Proyectos</h2>
    <section>
        <article class="project">
            <h3>MoleroFit</h3>
            <p>Aplicaci칩n que conecta usuarios para compartir rutinas, seguir usuarios y poder ejecutar rutinas y muchos m치s</p>
            <a href="https://molerofit.es" target="_blank" rel="noopener noreferrer">Ver proyecto</a>
        </article>
        <article class="project">
            <h3>ApiVuelos</h3>
            <p>Aplicacion sobre vuelos en tiempo real con estadisticas y mapa de localizaci칩n</p>
            <a href="https://apivuelos.com" target="_blank" rel="noopener noreferrer">Ver proyecto</a>
        </article>
        <article class="project">
            <h3>MVC Portfolio</h3>
            <p>Aplicaci칩n que conecta usuarios para compartir tus portfolio con los demas</p>
            <a href="https://onlinestore.com" target="_blank" rel="noopener noreferrer">Ver proyecto</a>
        </article>
    </section>
</article>