---
// Skills.astro
---
<section id="skills">
    <h2>Habilidades</h2>
    <article id="frontend">
        <h3>Frontend</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript (ES6+)</li>
            <li>TypeScript</li>
            <li>React</li>
            <li>Vue.js</li>
            <li>Svelte</li>
            <li>Astro</li>
            <li>Tailwind CSS</li>
            <li>Bootstrap</li>
        </ul>
    </article>
    <article id="backend">
        <h3>Backend</h3>
        <ul>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>PHP</li>
            <li>Python (Básico)</li>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
            <li>RESTful APIs</li>
        </ul>
    </article>
    <article id="tools">
        <h3>Herramientas y Otros</h3>
        <ul>
            <li>Git y GitHub</li>
            <li>Docker</li>
            <li>CI/CD</li>
            <li>Linux</li>
            <li>Figma</li>
            <li>SEO Básico</li>
        </ul>
    </article>

</section>