#about{
    margin: 0 5vw;
}
#about h3{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3vh;
}
#about p{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-size: 1rem;
    font-weight: 300;
    margin-top: 3vh;
}

#about article{
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
#about article header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#about article header div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#about article header div i{
    font-size: 1.5rem;
    color: var(--text-primary);
    cursor: pointer;
}
#about article header #foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
#about article header h4{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

#about article div p{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

#about article footer{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
#about article footer div{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#about article footer i{
    font-size: 1.5rem;
    color: var(--text-primary);
    cursor: pointer;
}


@media screen and (650px <= width) {
    #about p {
        font-size: 1.2rem;
    }
    #about article header div {
        gap: 1rem;
    }
    #about article header h4 {
        font-size: 2rem;
    }

    #about article header #foto {
        width: 70px;
        height: 70px;
    }
    #about article header div i {
        font-size: 2rem;
    }
    #about article div p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    
    #about article footer i {
        font-size: 2rem;
    }

    
}