/*fuente*/
@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype'); 
    font-style: normal;
}

#lenguajes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.article-container > div  img{
    width: 100%;
    height: 30vh;
    max-height: 60vh;
    object-position: center;
    object-fit: cover;
}
#frameworks, #herramientas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
#git{
    align-self: center;
    object-position: center;
    object-fit: contain;
}
#docker{
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-position: center;
    object-fit: contain;
    background-color: #0f95d5;
}


@media screen and (650px <= width) {
    .tecnologias div p{
        font-size: 1.2rem;
    }
    .tecnologias div i{
        font-size: 1.2rem;
    }
}