/* colores */
:root {
    color-scheme: light dark;
}

/* Modo claro (default) */
@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #7B4AE2;
        --hover-color: #f5f5f5;
        --secondary-color: #896BF5;
        --text-primary: #000;
        --text-secondary: #7B4AE2;
        --text-terciary: #708090;
        --text-black: #000;
        --text-green: #2ECC71;
        --bg-color: #ffffff;
    }
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #7B4AE2;
        --hover-color: #06001C;
        --secondary-color: #896BF5;
        --text-primary: #ffffff;
        --text-secondary: #ffd700;
        --text-terciary: #708090;
        --text-black: #000;
        --text-green: #2ECC71;
        --bg-color: #121212;
    }
}

/* general */
body{
    margin: 0;
    background: url(../imgs/fondo-about.png);
    -webkit-backdrop-filter: brightness(0.5) blur(9px);
    backdrop-filter: brightness(0.2) blur(3rem);
    justify-items: center;
    timeline-scope: --sobre-mi, --trabajos, --proyectos, --habilidades;
}
#container{
    max-width: 1400px;
    min-height: 100vh;
    width: 100%;
    filter: drop-shadow(0px 0px 23px var(--primary-color));
    background-color: var(--hover-color);
    position: relative; /* Ensure the container is positioned relative to the viewport */
}
main{
    padding-top: 13.5rem;
}
#contactame { /* cambiar */
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1vh 2vw;
    border-radius: 10px;
    background-color: var(--primary-color);
    position: fixed; /* Fijar la posición respecto a la ventana del navegador */
    bottom: 10px;    /* Ajusta la distancia desde el borde inferior */
    right: 10px;     /* Ajusta la distancia desde el borde derecho */
    z-index: 1000;   /* Asegura que esté por encima de otros elementos */
    width: auto;     /* Ajusta el ancho del elemento */
}


/* header */
#header{
    background-color: light-dark(var(--hover-color, var(--primary-color)));
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header #logo{
    flex: 1;
}
#logo img{
    max-width: 6rem;
}
#funcionalidades{
    flex: 5;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
#funcionalidades img{
    max-width: 3rem;
}
/* boton cambiar modo */
#modo-toogle{
    display: flex;
    align-items: center;
    border: 2px solid var(--hover-color);
    border-radius: 999px;
    width: 4rem;
    height: 2rem;
    background-color: var(--secondary-color);
    transition: background-color 0.5s ease;
}
body.active #modo-toogle{
    background-color: var(--primary-color);
}
#modo-toogle .circle{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text-primary);   
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

#modo-toogle svg{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.moon{
    transform: translateY(-120%);
}
.sun{
    fill: var(--text-secondary);
}
body.active .circle {
    transform: translateX(102%);
    background-color: var(--hover-color) !important;
}

body.active .circle .moon {
    transform: translateX(0);
    fill: var(--text-primary);
}

.active .circle .sun{
    transform: translateY(120%);
}





/* Traducir */
#traducir img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* introducion */
#introducion{
    background-color: var(--secondary-color);
    padding: 1.5rem 1.5rem;
    text-align: center;
    place-items: center;
}

/* perfil */
#perfil{
    position: absolute;
    top: 7rem;
    left: calc(50% - 5rem);
    display: flex;
    gap: 2vw;
    align-items: center;
}

#perfil img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid var(--hover-color);
}
#perfil  #empleo{
    color: var(--text-primary);
    background-color: var(--text-green);
    padding: 1vh 2vw;
    border-radius: 10px;
    margin-left: 0.6rem;
    font-size: 0.8rem;
    font-family: 'Kanit';
    font-weight: 500;
    width: max-content;
}

#perfil > #descargar{
    display: flex;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1vh 2vw;
    margin-top: 2rem;
}
#perfil #descargar a{
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 10px;
}
#perfil #descargar i{
    color: var(--text-primary);
}


#introducion h1{
    color: var(--text-primary);
    font-size: 2rem;
    font-family: 'Kanit';
    font-weight: 500;
    margin-bottom: 0;
}
#introducion h2{
    color: var(--hover-color);
    font-size: 1.2rem;
    font-family: 'Kanit';
    font-weight: 500;
    margin-top: 1vh;
}
#introducion div{
    display: flex;
    gap: 2vw;
}
#introducion div a{
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: var(--hover-color);
    transition: 0.5s;
}
#introducion div a:hover{
    background-color: var(--primary-color);
    color: var(--hover-color);
}
#introducion #localizacion{
    display: flex;
    align-items: center;
    margin-top: 1vh;
    gap: 1rem;
    margin-bottom: 1rem;
}
#introducion #localizacion i{
    font-size: 1rem;
    color: var(--hover-color);
}
#introducion #localizacion p{
    font-size: 1rem;
    margin: 0;
    color: var(--hover-color);
    font-family: 'Kanit';
    font-weight: 500;
}
/* nav */
nav {
    container-type: scroll-state;
    position: sticky;
    top: 0px;

    > ul{
        transition: background-color .3s ease-in-out;
        background-color: var(--hover-color);
        >li a{
            color: var(--text-primary);
            transition: color .3s ease-in-out;
        }
    }
    /* Cambia el color del nav cuando se vuelve sticky */
    @container scroll-state(stuck: top) {
        > ul {
            background-color: var(--primary-color);
            li a{
                color: var(--text-primary);
            }
        }
    }
}



main > nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    list-style: none;
    padding: 0;
    margin: 0;
}
main > nav ul li{
    padding: 2vh 2vw;
    flex: 1;

    text-align: center;
}
main > nav ul li a{
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 300;
    font-size: 0.8rem;
}
@keyframes highlight {
    25%, 50% {
      border-block-end-color: var(--text-primary);
    }
}
nav {
    > ul li {
        animation: highlight linear both;
        animation-range: cover 20% exit-crossing 50%;
        border-block-end: 3px solid transparent;
    }
    > ul li:nth-child(1) a { animation-timeline: --sobre-mi; }
    > ul li:nth-child(2) a { animation-timeline: --trabajos; }
    > ul li:nth-child(3) a { animation-timeline: --proyectos; }
    > ul li:nth-child(4) a { animation-timeline: --habilidades; }
}

/*caja twitter */
.section-container{
    margin: 0 5vw;
}
.article-container{
    margin: 2rem 0 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.article-container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.article-container header div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.article-container header div i{
    font-size: 1.2rem;
    color: var(--text-primary);
    cursor: pointer;
}
.article-container header #foto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    object-fit: cover;
}
.article-container header #verificado{
    width: 2rem;
    height: 2rem;
}
.article-container header p{
    color: var(--text-terciary);
    font-family: 'Kanit';
    font-size: 0.8rem;
    margin: 0;
}
.article-container header h4{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.article-container > div > p{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

.article-container footer{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.article-container footer div{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.article-container footer i{
    font-size: 1.5rem;
    color: var(--text-primary);
    cursor: pointer;
}


/* footer */
#footer{
    padding: 1vh 2vw;
    text-align: center;
    place-items: center;
}

#footer nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer nav ul li a{
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 300;
    font-size: 1.5rem;
}
#footer p{
    color: var(--text-primary);
    font-family: 'Kanit';
    font-weight: 300;
    font-size: 1rem;
}

@media screen and (650px <= width) {
    nav ul{
        padding: 0 5vw;
    }
    #perfil{
        top: 4rem;
        left: calc(50% - 6rem);
    }
    #perfil img {
        width: 180px;
        height: 180px;
    }
    #perfil div p {
        font-size: 1rem;
        left: 12rem;
    }
    #perfil div > div {
        margin-left: 15rem;
    }
    #introducion {
        padding: 1rem 5vw;
    }
    main > nav ul li a {
        font-size: 1.2rem;
    }
    .article-container header div #foto {
        width: 70px;
        height: 70px;
    }
    .article-container header h4 {
        font-size: 2rem;
    }
    .article-container header div i {
        font-size: 2rem;
    }
    .article-container header p{
        font-size: 1rem;
    }
    .article-container > div p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .article-container footer i {
        font-size: 2rem;
    }
    .article-container header div {
        gap: 1rem;
    }

    #footer nav ul li a {
        font-size: 2rem;
    }

    
}